<h1>Impressum</h1>
<h4>30 Oktober 2022</h4>
<p></p>
<h2>Kontakt</h2>
<p></p>
<h3>Kontaktperson: Daniel Opiola</h3>
<h3>Telefon: +43 699 19003301</h3>
<h3>Anschrift: Rennbahnweg 46/8/42 <br> 1220 Wien, Österreich</h3>
<h3>E-Mail: office@contract2human.com</h3>
<h3>Internet: contract2human.com</h3>