
<div id="footer" class="text-white pt-6 mt-12 pb-8 sm:pt-12 flex flex-col sm:flex-row sm:justify-center sm:space-x-40 p-4 ">
  
  <div class="hidden sm:flex w-36">
    <img src="/logow.png" class="object-contain" />
  </div>
  <div class="text-left flex flex-col">
    <h3>Kontakt</h3>
    <div class="flex flex-row space-x-2">
    
    <a href="mailto:office@contract2human.com" class="text-[#fbf8be]">office@contract2human.com</a></div>
    <a href="https://www.linkedin.com/company/83523250/" class="text-[#fbf8be]">LinkedIn</a>
  </div>

  <div class="flex flex-col">
    <h3>Rechtliches</h3>
    <a href="/impressum">Impressum</a>
    <a href="/privacy">Datenschutzerklärung</a>
  </div>
</div>

<style>
  h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }
</style>
