---

import MForm from "./mform";
---

<div id="hero" class="hero-tile mt-28 h-5/6">
  <h1 class="font-bold text-4xl sm:text-6xl tracking-wide">
    Wir übersetzen <a class="">juristisch</a> in <br />
    eine <a class="text-[#43998e]">menschliche</a> Sprache.
  </h1>
  <div class="flex text-center">
    <p class="mt-6 max-w-prose ">
      Unsere KI-basierte Lösung analysiert einen Vertrag und verschafft unseren
      Kunden einen Überblick über den Inhalt und alle relevanten rechtlichen
      Risiken, und das in einer leicht verständlichen Sprache. So können unsere
      Nutzer in ihrem Berufsleben die richtigen Entscheidungen treffen und
      Verträge gegebenenfalls neu verhandeln.
    </p>
  </div>
  <div class="justify-center mt-10">
    <MForm client:load />
  </div>
  
</div>

<style>
  .hero-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
</style>
