---

---

<div id="magic" class="magic-tile overflow-hidden mt-14 sm:mt-24">
  <h1 class="font-bold text-4xl sm:text-6xl tracking-wide mt-4 mb-4">So funktioniert</h1>
  <div class="flex">
  <img src="/logo.png" class="align-middle sm:max-w-md px-4 sm:px-0">
</div>

  <div>
    <div class="flex flex-col sm:flex-row">
      <div class="basis-1/2 flex justify-center">
        <img src="/monitor1.png" alt="" class="h-72 sm:h-96
         sm:max-w-md" />
      </div>

      <div
        class="flex flex-col bg-white rounded-lg sm:basis-1/2 justify-center sm:my-20"
      >
        <div class="text-center">
          <h2 class="sm:text-start">Schick uns deinen Vertrag.</h2>
          <h3 class="sm:text-start">Du kannst ihn hochladen.</h3>
          <h3 class="sm:text-start">Oder auch mit dem Smartphone scannen.</h3>
        </div>
      </div>
    </div>

    <div class="flex flex-col sm:flex-row">
      <div
        class="sm:flex flex-col bg-white rounded-lg basis-1/2 justify-center sm:my-20 hidden"
      >
        <div class="text-center">
          <h2 class="sm:text-end">Unsere KI analysiert den Vertrag.</h2>
          <h3 class="sm:text-end">Natural Language Processing Technologie.</h3>
          <h3 class="sm:text-end">Versteht komplexe Satzstrukturen.</h3>
        </div>
      </div>

      <div class="basis-1/2 flex justify-center">
        <img src="/monitor2.png" alt="" class="max-w-md h-72 sm:h-96" />
      </div>

      <div
        class="flex flex-col bg-white rounded-lg basis-1/2 justify-center sm:hidden"
      >
        <div class="text-center">
          <h2 class="sm:text-start">Unsere KI analysiert den Vertrag.</h2>
          <h3 class="sm:text-start">
            Natural Language Processing Technologie.
          </h3>
          <h3 class="sm:text-start">Versteht komplexe Satzstrukturen.</h3>
        </div>
      </div>
    </div>

    <div>
      <div class="flex flex-col sm:flex-row">
        <div class="basis-1/2 flex justify-center">
          <img src="/monitor3.png" alt="" class="max-w-md h-72 sm:h-96" />
        </div>

        <div
          class="flex flex-col bg-white rounded-lg basis-1/2 justify-center sm:my-20"
        >
          <div class="text-center">
            <h2 class="sm:text-start">Ein Vertrag den jeder verstehen kann.</h2>
            <h3 class="sm:text-start">Erläuterungen zu allen Begriffen.</h3>
            <h3 class="sm:text-start">Fragwürdige Klauseln werden markiert.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .magic-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.05rem;
  }

  h3 {
    font-size: 1.0rem;
    font-weight: 400;
   
  }
</style>
