---
import MForm2 from "./mform2";
---

<div class="mailing-tile h-1/2 mt-28 overflow-hidden" id="waitinglist">
  <h1 class="text-center font-bold text-4xl sm:text-6xl tracking-wide">Willst du deine Verträge <br class="hidden sm:flex">überpüfen lassen?</h1>
  <h2 class="my-8 text-center">
    Dann trag dich ein und sei einer der ersten die unsere Softwarte benutzen
    dürfen.
  </h2>
  <div>
    <div class="flex flex-col sm:flex-row justify-center gap-2">
      <div class="border-2 rounded-lg text-start sm:basis-3/8">
        <h3 class="p-4">
          Verträge für <br /> Menschen, <br /> nicht Juristen.
        </h3>
      </div>

      <div class="basis-1/8 flex-col place-content-between hidden sm:flex">
        <div class="border-2 rounded-lg flex flex-row">
          <a>a</a>
        </div>

        <div class="border-2 rounded-lg flex flex-row">
          <a>a</a>
        </div>
      </div>

      <div class="grid border-2 rounded-lg sm:basis-1/2 place-items-center max-w-lg">
        <div class="my-8 sm:my-0 justify-center">
          <MForm2 client:load/>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .mailing-tile {
    display: flex;
    flex-direction: column;
  
  }
</style>
