---
import { MobileHeader } from "./header";
---

<div
  class=" text-black navbar justify-between w-full"
>
  <div>
    <img src="/logow.png" class="logowhite w-24 m-4 hidden"/>
    <img src="/logo.png" class="logoblack w-24 m-4" />
  </div>

  <div class="demo hidden">
    <a href="https://8156aac45b7166c9.gradio.app" class="hover:text-[#fbf8be]">Demo</a>
  </div>

  <div class="hidden md:flex">
    <ul>
      <li class="space-x-6 mx-4">
        <a href="/#hero" class="hover:text-[#fbf8be]">Home</a>
        <a href="/#magic" class="hover:text-[#fbf8be]">So funktonierts</a>
        <a href="/#waitinglist" class="hover:text-[#fbf8be]">Probier es aus</a>
        <a href="/#team" class="hover:text-[#fbf8be]">Das Team</a>
        <a href="/#footer" class="hover:text-[#fbf8be]">Kontakt</a>
      </li>
    </ul>
  </div>

  <div class="sm:hidden">
    <MobileHeader client:load />
  </div>
</div>

<style>
  .navbar {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0; }
</style>

<script client:load>

  const colorchange = () => {
    if(window.scrollY >= 90) {
      document.querySelector(".navbar").classList.add("bg-[#234e70]", "text-white");
      document.querySelector(".navbar").classList.remove("text-black");
      document.querySelector(".logowhite").classList.remove("hidden");
      document.querySelector(".logoblack").classList.add("hidden");
      document.querySelector(".demo").classList.add("border-[#fbf8be]", "border-2", "rounded-lg", "p-4" ,"text-[#fbf8be]");
      document.querySelector(".demo").classList.remove("hidden");
      
    }}

    window.addEventListener("scroll", colorchange);

</script>