---
import {Icon} from "astro-icon"
import { MobileHeader } from "./header";
---

<div
  class="bg-[#43998e] text-white rounded-lg sm:m-8 flex items-center justify-between"
>
  <div>
    <img src="/logow.png" class="w-24 m-4" />
  </div>

  <div class="hidden md:flex">
    <ul>
      <li class="space-x-6 mx-4">
        <a href="/#hero" class="hover:text-[#f7e07d]">Home</a>
        <a href="/#magic" class="hover:text-[#f7e07d]">So funktoniert es</a>
        <a href="/#waitinglist" class="hover:text-[#f7e07d]">Probier es aus</a>
        <a href="/#team" class="hover:text-[#f7e07d]">Das Team</a>
        <a href="/#footer" class="hover:text-[#f7e07d]">Kontakt</a>
      </li>
    </ul>
  </div>

  <div class="sm:hidden">
    <MobileHeader client:load/>
  </div>
</div>
