

<div class="border-2 rounded-lg sm:m-8 flex items-center justify-between">
  <div>
    <img src="/logo.png" class="w-24 m-4"> 
  </div>
  <div class="hidden md:flex ">
    <ul>
      <li class="space-x-6 mx-4">
        <a href="/#hero" class="">Home</a>
        <a href="/#magic" class="">So funktoniert es</a>
        <a href="/#waitinglist" class="">Probier es aus</a>
        <a href="/#team" class="">Das Team</a>
        <a href="/#footer" class="">Kontakt</a>
      </li>
    </ul>
  </div>
</div>