---


---

<html lang="en" class="h-full motion-safe:scroll-smooth" >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"  />
		<meta name="generator" content={Astro.generator} />
		<title>contract2human</title>
		<meta name="description" content="contract2human übersetzt und vereinfacht alle Arten von Verträgen.Vor allem Arbeitsverträge. Begriffe werden leicht verständlich erklärt und Klauseln die fehlerhaft sind, werden markiert. "/>
	</head>
	<body class="">
		<slot />
	</body>
</html>
