---


---

<html lang="en" class="h-full motion-safe:scroll-smooth" >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"  />
		<meta name="generator" content={Astro.generator} />
		<title>contract2human</title>
	</head>
	<body class="p-4 sm:p-0">
		<slot />
	</body>
</html>
